@model ProyectoInmobiliariaADO.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1 style="text-align: center;">Login:</h1>


<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Login" method="post">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div class="alert alert-danger">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <div>@error.ErrorMessage</div>
                    }
                </div>
            }

            <button type="submit" class="btn btn-primary w-100">Ingresar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
