@{
    ViewData["Title"] = "Inicio";
}

<h1>@ViewData["Message"]</h1>

<p>
    <a class="btn btn-primary" asp-controller="Inquilinos" asp-action="Index">Ir a Inquilinos</a>
    <a class="btn btn-success" asp-controller="Propietarios" asp-action="Index">Ir a Propietarios</a>
</p>
