@{
    ViewData["Title"] = "Inicio";
    var esAdmin = User.IsInRole("Administrador");
    var estiloDisabled = esAdmin ? "" : "pointer-events:none; opacity:0.5;";
}

@await Html.PartialAsync("_Navbar")

<h1 class="text-center mb-4">@ViewData["Message"]</h1>

<div class="text-center">
    <a class="btn btn-primary d-block w-25 mb-2 mx-auto" asp-controller="Inquilinos" asp-action="Index" ">Inquilinos</a>
    <a class="btn btn-success d-block w-25 mb-2 mx-auto" asp-controller="Propietarios" asp-action="Index" ">Propietarios</a>
    <a class="btn btn-warning d-block w-25 mb-2 mx-auto" asp-controller="Inmuebles" asp-action="Index" ">Inmuebles</a>
    <a class="btn btn-info d-block w-25 mb-2 mx-auto" asp-controller="Contratos" asp-action="Index" ">Contratos</a>
    <a class="btn btn-secondary d-block w-25 mb-2 mx-auto" asp-controller="TipoInmueble" asp-action="Index" ">Tipo Inmuebles</a>
    <a class="btn btn-dark d-block w-25 mb-2 mx-auto" asp-controller="Pagos" asp-action="Index" ">Pagos</a>
     @* Botón Usuarios con condición de administrador *@
    @if (esAdmin)
    {
        <a class="btn btn-danger d-block w-25 mb-2 mx-auto" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
    }
    else
    {
        <a class="btn btn-danger d-block w-25 mb-2 mx-auto" asp-controller="Usuarios" asp-action="Index" style="@estiloDisabled" readonly>Usuarios</a>
    }
</div>
